/* Ajoutez ces styles CSS à votre feuille de style */
ul li {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
  margin-bottom: 5px;
}

ul li::before {
  content: '';
  position: absolute;
  left: 0;
}
